<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mybatis.springbootmybatisdemo2.dao.CourseMapper">
    <resultMap id="BaseResultMap" type="com.springboot.mybatis.springbootmybatisdemo2.model.coursemodel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="CourseName" property="CourseName" jdbcType="VARCHAR"/>
        <result column="DifficultyLevel" property="DifficultyLevel" jdbcType="VARCHAR"/>
        <result column="StarLevel" property="StarLevel" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="CourseList">
        id,course_name,difficulty_level,star_level
    </sql>
    <select id="selectid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="CourseList"/>
        from course
        where id= #{id,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="BaseResultMap">
select   <include refid="CourseList"/>
from course
    </select>
    <update id="update" parameterType="com.springboot.mybatis.springbootmybatisdemo2.model.coursemodel">
        update course set
        star_level= #{star_level,jdbcType=VARCHAR}
        where id=#{id,jdbcType=INTEGER}
    </update>
    <!--mybatis动态标签 -->
    <!--if标签实现模糊查询-->
    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        <bind name="courseName" value="'%'+name+'%'" />
        select <include refid="CourseList"/>
        from course
        <if test="name != null">
        where course_name like #{courseName}
        </if>
    </select>
    <select id="chooseSelect" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="CourseList"/>
        from course where id
        <choose>
            <when test="starLevel != null and starLevel !=''">
            and star_level='${starLevel}'
            </when>
            <when test="difficultyLevel != null and difficultyLevel!='' ">
                and difficulty_level='${difficultyLevel}'
            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>
</mapper>
