<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="package com.springboot.mybatis.springbootmybatisdemo2.dao.CourseMapper">
    <resultMap id="BaseResultMap" type="com.springboot.mybatis.springbootmybatisdemo2.model.coursemodel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="CourseName" property="CourseName" jdbcType="VARCHAR"/>
        <result column="DifficultyLevel" property="DifficultyLevel" jdbcType="VARCHAR"/>
        <result column="StarLevel" property="StarLevel" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="CourseList">
        ${alias}.id,${alias}.CourseName,${alias}.DifficultyLevel,${alias}.StarLevel
    </sql>
    <select id="select" resultMap="BaseResultMap">
select <include refid="CourseList"/>
from course
    </select>
    <update id="update" parameterType="com.springboot.mybatis.springbootmybatisdemo2.model.coursemodel">
        update course set
        StarLevel= #{StarLevel,jdbcType=VARCHAR}
        where id=#{id,jdbcType=INTEGER}
    </update>
</mapper>
